/*===================fonts css===================*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
@font-face {
    font-family: 'iran';
    src: url(../font/yekan/woff/IRANYekanWebBlack.woff);
}
@font-face {
    font-family: 'iran-2';
    src: url(../font/yekan/ttf/iranyekanwebmediumfanum.ttf);
}

/*===================global css===================*/
:root {
    --main-color: #0066dd;
    --color-1: #ee476f;
    --color-2: #ffd166;
    --color-3: #09d69c;
    --bg-dark: #2b2c2f;
    --main-to-dark-color: var(--main-color);
    --dark-to-main-color: var(--bg-dark);
    --shodow-black-100: 0 5px 15px rgba(0,0,0,0.1);
    --shodow-black-300: 0 5px 15px rgba(0,0,0,0.3);
    --black-900: #000000;
    --black-400: #555555;
    --black-100: #f7f7f7;
    --black-000: #ffffff;
    --black-alpha-100: rgba(0,0,0,0.05);


}
body {
    font-family: 'iran-2';
    font-size: 16px;
    overflow-x: hidden;
    background-color: #ffffff;
    line-height: 1.5;
    scroll-behavior: smooth;
}
body.dark-theme {
    background-color: var(--bg-dark);
    --black-100: var(--bg-dark);
    --black-000: var(--bg-dark);
    --main-to-dark-color: var(--bg-dark);
    --dark-to-main-color: var(--main-color);
    --shodow-black-100: var(--shodow-black-300);
    --black-alpha-100: rgba(255,255,255,0.05);
    --black-900: #ffffff;
    --black-400: #bbbbbb;
}
* {
    margin: 0;
    padding: 0;
    outline: none !important;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
ul {
    list-style: none;
}
.logo{
    width: 35px;
    height: 35px;
}
.btn-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-family: 'iran-2';
    background-color: #ffffff;
    padding: 20px 40px;
    border: none;
    border-radius: 30px;
    color: var(--main-color);
    font-size: 18px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shodow-black-300);
}
.btn-1:focus {
    box-shadow: var(--shodow-black-300);
}
.btn-1:hover{
    color: #f7f7f7;
    background-color: var(--color-2);
}
.btn-2 {
    font-family: 'iran-2';
    background-color: var(--main-color);
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    font-size: 18px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shodow-black-100);
}
.btn-2:focus {
    box-shadow: var(--shodow-black-100);
}
.btn-2:hover{
    background-color: var(--color-2);
}
@keyframes spin01 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes bounceTop01 { 
    0%,100% {
        transform: translateY(-30px);
    }
    50%{
        transform: translateY(0px);
    }
    
}
@keyframes pulse01 {
    0%{
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
    }
    100%{
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}
@keyframes zoominout-01 { 
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
    
}
.effect-wrap .effect {
    position: absolute;
    z-index: -1;
}
.effect-wrap .effect-1 {
    right: 20%;
    top: 20%;
    font-size: 20px;
    color: var(--color-2);
    animation: spin01 5s linear infinite;
}
.effect-wrap .effect-2 {
    left: 5%;
    top: 10%;
    font-size: 25px;
    color: #ee476f   ;
    animation: spin01 7s linear infinite;
}
.effect-wrap .effect-3 {
    right: 5%;
    bottom: 30%;
    font-size: 25px;
    color: var(--color-3);
    animation: bounceTop01 3s linear infinite;
}
.section-padding {
    padding: 80px 0;
}
.section-title  {
    margin-bottom: 60px;
    font-family: 'iran';
}
.section-title h2 {
    font-size: 35px;
    color: var(--black-900);
    text-align: center;
    text-transform: capitalize;
    margin: 0;
}
.section-title span{
    color: var(--main-color);
}
.owl-carousel .owl-nav {
    display: none;
}
.owl-carousel .owl-dot{
    padding: 0 15px;
    text-align: center;
    margin-top: 30px;
}
.owl-carousel button.owl-dot {
    height: 8px;
    width: 24px;
    background-color: #dddddd;
    display: inline-block;
    margin: 0 4px;
    border-radius: 5px;
}
.owl-carousel button.owl-dot.active{
    background-color: var(--main-color);
}
/*===========================================preloader*/

/*===================navbar css===================*/
.navbar {
    background-color: transparent;
    padding: 18px 0;
    transition: all 0.5s ease;
}
.navbar.navbar-shrink {
    background-color: var(--main-color);
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    padding: 10px 0;
}
.navbar > .container {
    padding: 0 15px;
}
.navbar .navbar-brand {
    font-family: 'iran';
    font-size: 35px;
    color: #ffffff;
    font-weight: 500;
    text-transform: capitalize;
}
.navbar-nav {
    margin-right: 2rem;
}
.navbar .nav-item {
    margin-right: 1.2rem;
}
.navbar .nav-item .nav-link {
    color: #ffffff;
    text-transform: capitalize;
    font-size: 1rem;
    position: relative;
}
.navbar .nav-item .nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    background-color: #ffffff;
    transition: all 0.5s ease;
    transform: scale(0);
}
.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover:before  {
    transform: scale(1);
}

/*=======================================================*/
.home {
    min-height: 100vh;
    padding: 150px 0;
    background-color: var(--main-to-dark-color);
    border-radius: 0 0 0 200px;
    box-shadow: var(--shodow-black-100);
    position: relative;
    z-index: 1;
    overflow-x: hidden;
}

.home-img img {
    max-width: 250px;
    width: 100%;
    box-shadow: var(--shodow-black-100);
    border-radius: 32px;
    animation: bounceTop01 3s ease infinite;
    border: 4px solid white;
}
.home .home-btn {
    display: inline-grid;
    grid-template-columns: auto auto;
    gap: 25px;
    margin-top: 40px;
}
.home-text {
    font-family: 'iran';
    text-align: start;
}
.home-text h1{
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
    margin: 0 0 20px;

}
.home-text p{
    font-family: 'iran-2';
    font-size: 20px;
    color: #ffffff;
    margin: 0;
}
.home .home-btn .video-play-btn {
    margin-right: 30px;
    height: 50px;
    width: 50px;
    padding: 0;
    font-size: 1rem;
    animation: pulse01 2s ease infinite;
}
.home .home-btn .video-play-btn:hover{
    animation: none;
    box-shadow: var(--shodow-black-300);
}
.home .home-btn .video-play-btn i {
    line-height: 50px;
    padding-left: 4px;
}
.home-img {
    position: relative;
}
.home-img .cricle {
    position: absolute;
    z-index: 1;
    height: 400px;
    width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home-img .cricle::before {
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: #edcf72   ;
    border-radius: 50%;
    left: 30px;
    top: 30px;
    transform-origin: 170px 170px;
    animation: spin01 10s linear infinite;
}
/*==============================video popup=========================*/
.video-popup{
    padding-top: 30px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1999;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
.video-popup.open {
    opacity: 1;
    visibility: visible;
}
.video-popup-inner {
    width: 100%;
    max-width: 900px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-popup .video-popup-clos {
    position: absolute;
    right: 0;
    top: -30px;
    height: 30px;
    width: 30px;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    color: #ffffff;

}
.video-popup .iframe-box {
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;


}
.video-popup #player-1 {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0;
    
}
/* features-carousel carousel owl-carousel */
.features-carousel {
    display: flex;
    flex-direction: row !important;
    row-gap: 1rem;
    text-align: center;
}


.features .features-item {
    margin: 15px;
    padding: 30px;
    text-align: center;
    border-radius: 42px;
    box-shadow: var(--shodow-black-100);
}
.features .features-item:hover {
    background: #ee476f;
    color: #ffffff;
    border-radius: 42px;
}

.features .features-item .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px;
    margin: 0 auto 30px;
    text-align: center;
    font-size: 50px;
    color: #0066dd;
    position: relative;
    z-index: 1;
    transition: all 0.5s ease;
}
.features .features-item .icon::before {
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0066dd;
    transition: all 0.5s ease;
    z-index: -1;
    opacity: 0;
}
.features .features-item:hover .icon {
    color: #ffffff;
    font-size: 50px;
}
.features .features-item:hover .icon::before{
    left: 0;
    border-radius: 50%;
    opacity: 1;
}
.features .features-item .icon i{
    line-height: 60px;
    
}
.features .features-item h3{
    font-size: 20px;
    margin: 0 0 20px;
    color: var(--black-900);
    text-transform: capitalize;
    
}
.features .features-item p{
    font-size: 16px;
    line-height: 26px;
    color: var(--black-400);
    margin: 0 0 15px;
}
.features .features-item:hover h3 {
    color: #ffffff;
}
.features .features-item:hover p {
    color: #ffffff;
}
/*============================================*/
.fun-facts {
    background-color: var(--black-100);
}
.fun-facts .section-title {
    margin-bottom: 20px;
}
.fun-facts .section-title h2 {
    text-align: right;
}
.fun-facts-img img {
    max-width: 250px;
    width: 100%;
    box-shadow: var(--shodow-black-100);
    border-radius: 32px;
    animation: bounceTop01 3s ease infinite;
}
.fun-facts-img #baner2{
    position: absolute;
    left: 360px;
    bottom: 68px;
}
.fun-facts .fun-facts-text {
    text-align: right;
}
.fun-facts .fun-facts-text  p {
    font-size: 16px;
    text-align: justify;
    line-height: 26px;
    color: var(--black-400);
    margin: 0 0 15px;
    font-weight: 300;

}
.fun-fact-item {
    padding: 40px 30px;
    text-align: center;
    box-shadow: var(--shodow-black-100);
    border-radius: 10px;
    margin-top: 30px;
}
.fun-fact-item span{
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
    line-height: 26px;
    display: block;
    color: #ffffff;
}
.fun-fact-item h3{
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    margin: 0 0 5px;
}
.fun-fact-item.style-1{
    background-color: #ee476f;
}
.fun-fact-item.style-2{
    background-color: #ffd166;
}
.fun-fact-item.style-3{
    background-color: var(--color-3);
}
.fun-fact-item.style-4{
    background-color: #0066dd ;
}
/*=============================================*/
/*========================================*/
.app-download {
    background-image: url(../img/download-app-bg.jpg);
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.app-download::before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--main-to-dark-color);
    opacity: 0.8;
}
.app-download .section-title h2 {
    color: #ffffff;
}
.app-download .section-title span {
    color: var(--black-900);
}
.app-download-item {
    text-align: center;
    background-color: var(--black-100);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--shodow-black-100);
    margin-bottom: 25px;
    cursor: pointer;
}
.app-download-item img{
    border-radius: 9px;
    transition: all ease-in-out 0.3s;
}
.app-download-item .name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}
.app-download-item .name h2{
    font-family: 'iran-2';
    font-size: 15px;
    color: var(--black-900);
    font-weight: 500;
    text-transform: capitalize;
    transition: all 0.3s ease;
}
.app-download-item .name h2:hover {
    color: #f5ae10;
}
.app-download-item .name h3{
    font-size: 12px;
    color: var(--black-400);
    line-height: 26px;
    border: 1px solid #555555;
    padding: 0.2rem;
    border-radius: 5px;
}
.app-download-item .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1.2rem;
    border-bottom: 1px dashed #555555;
}
.app-download-item .price h2 {
    font-size: 15px;
    color: var(--black-400);
    font-weight: 500;
    text-transform: capitalize;
}
.app-download-item .price h2 span {
    color: var(--color-2);
}
.app-download-item .price h3 {
    font-size: 15px;
    color: var(--black-400);
}
.app-download-item .price h3 span {
    font-size: 12px;
    color: #555555;
}
.app-download-item .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6;
    gap: 10px;
    margin-top: 0.3rem;
}
.app-download-item .btn .btn-1 {
        border-radius: 5px;
        font-size: 15px;
        background: #e1e2e4;
        box-shadow: none;
        border:none;

}
.app-download-item .btn .btn-1:hover {
    color: #2b2c2f;
    background: #bbbbbb;
}
.app-download-item .btn .btn-2 {
    border-radius: 5px;
    font-size: 15px;
}
.work__filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
  }
  /* Active item work*/
.active-work {
    background-color: var(--color-3);
    color: var(--bg-dark);
  }
  .work__item {
    cursor: pointer;
    color: #ffffff;
    padding: 0.25rem 0.75rem;
    font-weight: var(--font-medium);
    border-radius: 0.5rem;
  }
  .work__card:hover img {
    transform: scale(1.1);
  }

/*===============================================*/
/*========================================*/
.testimonials {
    background-color: var(--black-100);
}
.testimonials-carousel {
    display: flex;
    flex-direction: row !important;
    row-gap: 1rem;
    text-align: center;
}
.testimonials-item {
    margin: 15px;
    padding: 30px;
    box-shadow: var(--shodow-black-100);
    border-radius: 10px;
    text-align: center;
}
.testimonials-item .img-box{
    height: 100px;
    width: 100px;
    display: inline-block;
    margin-bottom: 30px;
    border: 4px solid var(--main-color);
    border-radius: 50%;
    position: relative;
}
.testimonials-item .img-box img{
    border-radius: 50%;
    width: 100%;
}
.testimonials-item .img-box i{
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: var(--main-color);
    border-radius: 50%;
    color: #ffffff;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    right: calc(100% - 15px);
    top: calc(50% - 15px);

}
.testimonials-item p{
    font-size: 16px;
    margin: 0 0 20px;
    color: var(--black-400);
    line-height: 26px;
}
.testimonials-item h3{
    font-size: 18px;
    color: var(--black-900);
    margin: 0 0 5px;
    text-transform: capitalize;
}
.testimonials-item span{
    display: block;
    font-size: 16px;
    margin: 0 0 20px;
    color: var(--black-400);
}
.testimonials-item .rating{
    margin-top: 10px;
}
.testimonials-item .rating i{
    display: inline-block;
    font-size: 16px;
    color: var(--color-2);
}
/*=====================================*/
.pricing-plan {
    box-shadow: var(--shodow-black-100);
    border-radius: 10px;
    text-align: center;
}
.pricing-plan:hover{
    transition: all;
    transform: scale(1.05);
    transition-duration: .5s;
    transition-delay: .2s;
}
.pricing-plan .pricing-header {
    padding: 20px 30px;
    border-bottom: 1px solid var(--black-alpha-100);

}
.pricing-plan .pricing-header h3 {
    font-size: 30px;
    color: var(--black-900);
    text-transform: capitalize;
    margin: 0;

}
.pricing-plan .pricing-pric {
    padding: 40px 30px;
    display: flex;
    justify-content: center;
    line-height: 0.7;
}
.pricing-plan .pricing-pric .currency {
    font-size: 16px;
    color: var(--black-400);
    margin-left: 20px;
    align-self: flex-start;

}
.pricing-plan .pricing-pric .price {
    font-size: 70px;
    color: var(--main-color);
}
.pricing-plan .pricing-pric .period {
    font-size: 14px;
    color: var(--black-400);
    margin-left: 5px;
    align-self: flex-end;
    text-transform: uppercase;

}
.pricing-plan .pricing-body {
    padding: 0 30px;
    text-align: start;
}
.pricing-plan .pricing-body ul li {
    font-size: 16px;
    color: var(--black-400);
    padding: 10px 30px 10px 30px;
    border-bottom: 1px solid var(--black-alpha-100);
    line-height: 26px;
    position: relative;
}
.pricing-plan .pricing-body ul li:last-child{
      border-bottom: none;
}
.pricing-plan .pricing-body ul li i {
    color: var(--main-color);
    position: absolute;
    right: 0;
    top: 12px;
}
.pricing-plan .pricing-footer {
    padding: 20px 30px;
}
.pricing-plan .pricing-footer .btn-2 {
    border-radius: 5px;
}
/*==========================================*/

.blog {
    background-image: url(../img/blog/office.jpg);
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.blog::before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--main-to-dark-color);
    opacity: 0.8;
}
.blog .section-title h2 {
    color: #ffffff;
}
.blog .section-title span {
    color: var(--black-900);
}
.blog-download-item {
    text-align: center;
    background-color: var(--black-100);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--shodow-black-100);
    margin-bottom: 25px;
    cursor: pointer;
}
.blog-download-item img{
    border-radius: 9px;
    transition: all ease-in-out 0.3s;
}
.blog-download-item .name {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.2rem;
}
.blog-download-item .name h2{
    font-family: 'iran-2';
    font-size: 15px;
    color: var(--black-900);
    font-weight: 500;
    text-transform: capitalize;
    transition: all 0.3s ease;
}
.blog-download-item .name h2:hover {
    color: #f5ae10;
}
.blog-download-item .name p{
    font-size: 12px;
    color: var(--black-400);
    line-height: 26px;
    text-align: justify;
}
.blog-download-item .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.3rem;
    padding-bottom: 1.2rem;
    border-bottom: 1px dashed #555555;
}
.blog-download-item .info h2 {
    font-size: 12px;
    color: var(--black-400);
    font-weight: 500;
    text-transform: capitalize;
}
.blog-download-item .info h2 span {
    color: var(--color-2);
}
.blog-download-item .info h3 {
    font-size: 12px;
    color: var(--black-400);
}
.blog-download-item .info h3 span {
    font-size: 12px;
    color: #555555;
}
.blog-download-item .info .star i {
    color: #f5ae10;
}
.blog-download-item .btn {
    display: flex;
    align-items: center;
    padding: 6;
    gap: 10px;
    margin-top: 0.3rem;
}
.blog-download-item .btn .btn-1 {
    width: 100%;
        border-radius: 5px;
        font-size: 15px;
        background: #e1e2e4;
        box-shadow: none;
        border:none;

}
.blog-download-item .btn a {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.blog-download-item .btn .btn-1:hover {
    color: #2b2c2f;
    background: #bbbbbb;
}
.blog__card:hover img {
    transform: scale(1.1);
  }
/*=====================================*/
.faq .accordion-item:not(:last-child) {
    margin-bottom: 20px;
}
.faq .accordion-item {
    text-align: start;
}
.faq .accordion-header {
    box-shadow: var(--shodow-black-100);
    padding: 20px 50px 20px 30px;
    transition: all 0.5s ease;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}
.faq .accordion-header::before{
    content: "\f067";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; 
    position: absolute;
    height: 30px;
    width: 30px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    color: var(--black-400);
  
}
.faq .accordion-header:not(.collapsed)::before {
    content: "\f068";
    color: #ffffff;
}
.faq .accordion-header:not(.collapsed) {
    background-color: var(--main-color);
    box-shadow: none;
}
.faq .accordion-header:not(.collapsed) h3 {
    color: #ffffff;
}
.faq .accordion-header h3 {
    font-size: 18px;
    color: var(--black-400);
    margin: 0;
    transition: all 0.5s ease;
}
.faq .accordion-body {
    padding: 20px 30px;
    background-color: var(--black-100);
    border-radius: 10px;
}
.faq .accordion-body p {
    font-size: 16px;
    color: var(--black-400);
    line-height: 26px;
    margin: 0;
}
/*=========================================*/
.contact {
    background-color: var(--black-100);

}
.contact-info {
    text-align: start;
}
.contact-info h3 {
    font-size: 1rem;
    color: var(--black-900);
    margin: 0 0 40px;
}
.contact-info-item {
    position: relative;
    padding-right: 50px;
    margin-bottom: 30px;
}
.contact-info-item i {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    right: 0;
    top: 0;
    font-size: 26px;
    color: var(--main-color);
    /* border: 1px solid var(--main-color); */
    text-align: center;
    line-height: 38px;

}
.contact-info-item h4{
    font-size: 16px;
    margin: 0 0 10px;
    color: var(--black-900);
}
.contact-info-item p {
    font-size: 14px;
    margin: 0;   
    line-height: 26px; 
    color: var(--black-400);
}
.contact-form {
    justify-content: right;
    align-items: flex-start;
}
.contact-form .form-group {
    margin-bottom: 25px;
}
.contact-form .form-control {
    height: 52px;
    border: 1px solid transparent;
    box-shadow: var(--shodow-black-100);
    border-radius: 15px;
    padding: 0 24px;
    color: var(--black-900);
    background-color: var(--black-000);
    transition: all 0.5s ease;
}
.contact-form textarea.form-control {
    height: 140px;
    padding-top: 12px;
    resize: none;
}
.contact-form .form-control:focus{
    border-color: var(--main-color);
}
.contact .contact-form .btn-3 {
    text-align: right;
}
.contact .contact-form .btn-3 .btn-2 {
    border-radius: 15px;
}
/*======================================*/
.footer {
    text-align: start;
    background-color: var(--main-color);
    padding: 50px 0 0;
}
.footer-col h3 {
    font-size: 18px;
    color: #ffffff;
    margin: 0 0 25px;
}
.footer-col p {
    text-align: start;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    line-height: 26px;
    margin: 0;
}
.footer-col ul {
    margin: 0;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    display: block;
    text-transform: capitalize;
    transition: all 0.5s ease;
    text-decoration: none;
}
.footer-col ul li a:hover {
    padding-right: 6px;

}
.footer .copyright {
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    margin:50px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer .form-control {
    height: 52px;
    border: 1px solid transparent;
    box-shadow: var(--shodow-black-100);
    border-radius: 10px;
    padding: 0 24px;
    color: var(--black-900);
    background-color: var(--black-000);
    transition: all 0.5s ease;
}
.footer .text-1 {
    text-align: center;
}
.footer .text-1 button {
    font-family: 'iran-2';
    background-color: var(--color-2);
    margin-top: 20px;
    padding: 8px 40px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shodow-black-100);
}
/*=======================================*/
.toggle-them {
    position: fixed;
    right: 0;
    top: calc(50% - 20px);
    height: 40px;
    width: 40px;
    background-color: var(--dark-to-main-color);
    z-index: 1200;
    color: #ffffff;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: var(--shodow-black-300);
    font-size: 16px;
    text-align: center;
    margin-right: 10px;
}
.toggle-them i {
    line-height: 40px;
}

/*==================responcive=====================*/
@media(max-width:1200px){
    .testimonials-item{
        height: 402px;
    }
}
@media(max-width:1024px){
    .fun-facts-img #baner2{
        display: none;
    }
    .testimonials-item{
        height: 420px;
    }
}
@media(min-width:1400px){
    .features .features-item{
        height: 347px;
    }
}

@media(max-width: 987px){
    .home-text h1{
        font-size: 21px;
    
    }
    .home-text p{
        font-size: 15px;
    }
}
@media(max-width: 767px){
    .home-text h1{
        font-size: 18px;
    
    }
    .home-text p{
        font-size: 15px;
    }
}
@media(max-width: 991px){
    .navbar-toggler {
        background-color: var(--dark-to-main-color);
        box-shadow: var(--shodow-black-300);
        height: 34px;
        width: 44px;
        padding: 0;
        font-size: 17px;
        color: #ffffff;
    }
     .navbar-nav {
        background-color: var(--dark-to-main-color);
        box-shadow: var(--shodow-black-300);
    }
    .navbar .nav-item {
        text-align: right;
        margin: 0;
        padding: 5px 15px;
    }
    .navbar.navbar-shrink .navbar-nav,
    .navbar.navbar-shrink .navbar-toggler  {
        background-color: var(--main-color);
    }
    .home-img .cricle {
        height: 320px;
        width: 320px;
    }
    .home-img .cricle::before {
        left: 18px;
        top: 18px;
        transform-origin: 142px 142px;
    }
    .pricing-plan,
    .how-works-item,
    .app-download-item {
        margin-bottom: 30px;
    }
    .how-works-item.line-left::before {
        content: none;
    }
    .how-works-item {
        box-shadow: var(--shodow-black-100);
        border-radius: 10px;
        padding: 20px;
    }
    .footer-col {
        margin-bottom: 30px;
    }
    .fun-fact-item {
        padding-right: 0;
        padding-left: 0;
    }
    .fun-facts .section-title h2 {
        text-align: center ;
    }
}
@media(max-width: 767px) {
    .home{
        min-height: 130vh;
    }
    .home-text {
        margin-bottom: 80px;
    }
    .home-text h1 {
        font-size: 30px;
    }
    .fun-facts-img {
        margin-bottom: 30px;
    }
    .contact-form {
        margin-top: 20px;
    }
    .footer-col {
        margin-bottom: 30px;
    }
    .footer-col p{
        text-align: justify;
    }
    .fun-facts-img #baner2{
        display: none;
    }
    /* .container{
        display: grid;
    } */
    .col-md-5{
        order: 1;
        margin-bottom: 20px;
    }
    .col-md-7{
        order: 2;
    }
}
@media(max-width: 539px) {
    .home-text h1 {
        font-size: 25px;
    }
    /* .features .features-item{
        height: 300px;
    } */
}
@media(max-width: 453px) {
    .home-text h1 {
        font-size: 20px;
    }
}
@media(max-width: 380px) {
    .home-text p{
        font-size: 12px;
    }
}
@media(max-width: 470px) {
    .faq .accordion-header h3 {
        font-size: 16px;
    }
}
@media(max-width: 416px) {
    .faq .accordion-header h3 {
        font-size: 12px;
    
    }
}
@media(max-width: 416px) {
    .work__item {
        padding: 0.10rem 0.10rem;
      }
 }
/* @media(max-width:316px){
    .features .features-item{
        height: 350px ;
    }
} */
/* @media(max-width:240px){
    .features .features-item{
        height: 390px ;
    }
}    */

@media(max-width:212px){
    /* .features .features-item{
        height: 430px ;
    } */
    .testimonials-item{
        height: 550px;
    }
}

